[Unit]
Description=IPtables configuration
Requires=network.target
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/root/iptables.service.sh

[Install]
WantedBy=multi-user.target